#hero {
  background-image: url(../assets/Patern\ mobile.png);
}

@media (min-width: 1024px) {
  #hero {
    background: none;
  }
}

/* #card-bg {
  filter: blur(30px);
} */

#card-bg::before {
  display: block;
  content: "";
  background-color: #e7b226;
  width: 111px;
  height: 55px;
  position: absolute;
  right: 0%;
  bottom: 10%;
  z-index: -10;
  filter: blur(150px);
}

#hero-text::before {
  display: block;
  content: "";
  background-color: #e7b226;
  width: 111px;
  height: 55px;
  position: absolute;
  right: 0%;
  bottom: 3%;
  z-index: -10;
  filter: blur(150px);
}

@media (min-width: 1024px) {
  #card-bg::before {
    width: 445px;
    height: 227px;
    filter: blur(450px);
  }
}

@media (min-width: 1024px) {
  #hero-text::before {
    display: block;
    content: "";
    background-color: #e7b226;
    width: 400px;
    height: 180px;
    filter: blur(450px);
    right: 100%;
    bottom: 3%;
  }
}

/* @media (min-width: 1024px) {
  #hero-text::after {
    display: inline-block;
    content: "";
    background-color: #bb00ab;
    width: 200px;
    height: 200px;
    border: solid 1px #bb00ab;
    border-radius: 100%;
    position: relative;
    bottom: 80%;
    left: 95%;
    z-index: -10;
    filter: blur(450px);
  }
} */

#hero::before {
  display: block;
  content: "";
  background-color: #e7b226;
  width: 111px;
  height: 55px;
  position: absolute;
  right: 0%;
  bottom: 3%;
  z-index: -10;
  filter: blur(150px);
}

@media (min-width: 1024px) {
  #hero::after {
    display: inline-block;
    content: "";
    background-color: #bb00ab;
    width: 200px;
    height: 200px;
    border: solid 1px #bb00ab;
    border-radius: 100%;
    position: relative;
    bottom: 80%;
    left: 95%;
    z-index: -10;
    filter: blur(450px);
  }
}

#companies-section {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: center;
}

/* #item {
  grid-column: auto;
} */

@media (min-width: 1024px) {
  #companies-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

@media (min-width: 1024px) {
  #auction::before {
    content: "";
    display: block;
    width: 228px;
    height: 167px;
    background: #e7b226;
    opacity: 70%;
    z-index: -10;
    filter: blur(450px);
    position: absolute;
    left: 209px;
    top: 1445px;
  }
}

#live-auction-decoration::before {
  content: "";
  display: block;
  width: 84px;
  height: 84px;
  background: #8613a5;
  border: #8613a5 solid 1px;
  border-radius: 100%;
  position: absolute;
  z-index: 0;
}

@media (min-width: 1024px) {
  #live-auction-decoration::before {
    width: 110px;
    height: 110px;
  }
}

#time-card::before {
  content: "03:18:24";
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  padding: 11px 36px 11px 36px;
  position: absolute;
  bottom: 0%;
  width: px;
  height: px;
  background: linear-gradient(to bottom right, #8613a5, #fafafaaf);
  z-index: 20;
}

#time-card-2::before {
  content: "03:18:24";
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  padding: 11px 36px 11px 36px;
  position: absolute;
  bottom: 0%;
  width: px;
  height: px;
  background: linear-gradient(to bottom right, #8613a5, #fafafaaf);
  z-index: 20;
}

#time-card-3::before {
  content: "03:18:24";
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  padding: 11px 36px 11px 36px;
  position: absolute;
  bottom: 0%;
  width: px;
  height: px;
  background: linear-gradient(to bottom right, #8613a5, #fafafaaf);
  z-index: 20;
}

@media (min-width: 1024px) {
  #how-it-works::before {
    content: "";
    width: 100px;
    height: 100px;
    margin-left: 50%;
    margin-right: 50%;
    background-color: #d53d5c;
    opacity: 80%;
    filter: blur(450px);
    position: absolute;
    z-index: -20;
  }
}

@media (min-width: 1024px) {
  #how-it-works::after {
    display: none;
  }
}

#how-it-works::after {
  content: "";
  width: 100px;
  height: 430px;
  background-color: #d53d5c;
  opacity: 80%;
  filter: blur(450px);
  position: absolute;
  left: 234px;
  top: 3787px;
  z-index: -20;
}

#popular-collection-decoration::before {
  content: "";
  display: block;
  width: 84px;
  height: 84px;
  background: #e03054;
  border: #e03054 solid 1px;
  border-radius: 100%;
  position: absolute;
  z-index: 0;
}
